@charset "UTF-8";

:root{
    --fundo: #202020;
    --cabecalho: #2a2e3562;
    --destaque-fundo: #2a2e3562;
    --fonte-principal: #d1d2d4;
    --fonte-hover: #04ff04;
}
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    flex-direction: row;
    background-color: black;
    color: var(--fonte-principal);
}
p{
    color: var(--fonte-principal);
    padding-top: 10px;
}
.menu{
    position: fixed;
}
.card-nome:hover, .card-contato:hover, .card-menu:hover, .card-redes-sociais:hover{
    box-shadow: 0px 0px 2px 0px var(--fonte-hover);
}
.card-nome{
    max-width: 100vw;
    height: 250px;
    background-color: var(--cabecalho); 
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    

        & h1{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 190px;
            color: var(--fonte-hover);      
        }
    }
.card-redes-sociais{
    max-width: 100vw;
    height: 60px;
    background-color: var(--cabecalho); 
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    & img{
        width: 25px;
    }
    & img:hover{
        width: 35px;
        border-radius: 10px;
        box-shadow: 0px 0px 5px 1px var(--fonte-hover);
    }
}
.card-contato{
    max-width: 100vw;
    height: 130px;
    background-color: var(--cabecalho); 
    margin: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;    

    & p{
        font-size: 12px;
        color: var(--fonte-principal);
        margin-left: 17px;
    }
        & a{
            text-decoration: none;
            color: var(--fonte-principal);
            font-size: 12px;
            padding-right: 20px;
        }
}
.card-menu{
    max-width: 100vw ;
    height: 110px;
    background-color: var(--cabecalho); 
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;

    & ul{
        margin-left: 35px;
    }
    & a{
        text-decoration: none;
        color: var(--fonte-principal);
    }
    & a:hover{
        color: var(--fonte-hover);
        text-shadow: 1px 1px 5px var(--fonte-principal);
    }
}
main{
    margin-left: 270px;
    width: 1024px;
    height: 99vh;
}
.fundo-foto{
    background-image: url('../imagens/foto2p.png');
    background-size: cover;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    margin: auto;
    border: 5px solid #04ff04;
}
.topo-corpo{
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.containner-titulo{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.containner-tec{
    width: 730px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    margin: auto;

    & p{
        width: 120px;
        height: 30px;
        display: flex;
        align-items: center;
        color: var(--fonte-principal);
        font-size: 13px;
    }
    & img{
        width: 35px;
        margin-right: 5px;
    }
}
.img-tec-celular{
    display: none;
}
.img-menu-celular{
    display: none;
}
h1{
    color: var(--fonte-principal);
    font-size: 30px;
    font-weight: 500;
}
span{    
    color: var(--fonte-hover);
}
@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
    }
    
    .menu {
        position: static;
    }

    main {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    body{
        overflow: hidden;
        display: flex;
        justify-content: space-around;
    }
    .menu{
        display: block;
    }
    .card-nome{
       display: none;
    }
    .card-redes-sociais{
        display: none;
    }
    .card-contato{
       display: none;
    }
    .card-menu{
        max-width: 60vw;
        height: 45px;
        margin: auto;
        margin-top: 20px;
        
        & ul{
            display: none;
        }
        & p{
            color: black;            
        }
    }
    main{
        max-width: 100vw;

    }
    .topo-corpo{
        max-width: 100vw;
        margin-top: -70px; 
    }
    .containner-tec{
        display: none;
    }
    .img-tec-celular{
        max-width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin: auto;

        & img{
            width: 25px;
            margin-right: 5px;
        }
    }
    .img-menu-celular{
        width: 60vw;
        height: 45px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--fonte-hover);
        border-radius: 10px;


        }
        & img{
            width: 25px;
            margin-right: 10px;        
        }
        & a {
            display: flex;
            align-items: center;
        }
    }
    #home:hover::after{
        content: "Home";
        color: black;
    }
    #sobre:hover::after{
        content: "Sobre";
        color: black;   
    }
    #formacao:hover::after{
        content: "Formação";
        color: black;
    }
    #portfolio:hover::after{
        content: "Portfólio";
        color: black;
    }
